{%extends 'base.html'%}
<!---->
{%block head%} {{super()}}
<script src="https://d3js.org/d3.v4.min.js"></script>
{%endblock%}
<!---->
{%block content%}
<div class="main-container">
  <div class="text-center mt-3">
    <br /><br /><br />
    <center>
      <table class="table">
        <thead>
          <tr>
            <th>펀드특성</th>
            <th>보험회사</th>
            <th>펀드코드</th>
            <th>펀드명</th>
            <th>기준가</th>
            <th>1개월<br />수익률</th>
            <th>3개월<br />수익률</th>
            <th>5개월<br />수익률</th>
            <th>수수료</th>
            <th>펀드속성</th>
            <th>운영규모</th>
          </tr>
        </thead>
        <tbody id="search_tbl"></tbody>
      </table>
    </center>
  </div>
</div>

<script>
  d3.csv("/static/fund/fund_search.csv", function (data) {
    //d3.csv로 데어터 가져옴
    for (let i = 0; i < data.length; i++) {
      document.querySelector("#search_tbl").innerHTML +=
        "<tr>" +
        "<td>" +
        data[i].property +
        "</td>" +
        "<td>" +
        data[i].insName +
        "</td>" +
        "<td>" +
        data[i].fCode +
        "</td>" +
        "<td>" +
        data[i].fName +
        "</td>" +
        "<td>" +
        data[i].price +
        "</td>" +
        "<td>" +
        data[i].earn1 +
        "</td>" +
        "<td>" +
        data[i].earn3 +
        "</td>" +
        "<td>" +
        data[i].earn5 +
        "</td>" +
        "<td>" +
        data[i].fee +
        "</td>" +
        "<td>" +
        data[i].smallType +
        "</td>" +
        "<td>" +
        data[i].fSize +
        "</td>" +
        "</tr>";
    }
  });
</script>
{%endblock%}
