{%extends "base.html"%}
{%block content%}
<div
id="carousel-example-1z"
class="carousel slide carousel-fade"
data-ride="carousel"
>
<!--Indicators-->
<ol class="carousel-indicators">
  <li
    data-target="#carousel-example-1z"
    data-slide-to="0"
    class="active"
  ></li>
  <li data-target="#carousel-example-1z" data-slide-to="1"></li>
  <li data-target="#carousel-example-1z" data-slide-to="2"></li>
</ol>
<!--/.Indicators-->

<!--Slides-->
<div class="carousel-inner" role="listbox">
  <!--First slide-->
  <div class="carousel-item active">
    <div class="view">
      <!--Video source-->
      <video class="video-intro" autoplay loop>
        <source
          src="https://mdbootstrap.com/img/video/city.mp4"
          type="video/mp4"
        />
      </video>

      <!-- Mask & flexbox options-->
      <div
        class="
          mask
          rgba-black-light
          d-flex
          justify-content-center
          align-items-center
        "
      >
        <!-- Content -->
        <div class="text-center white-text mx-5 wow fadeIn">
          <h1 class="mb-4">
            <strong style="font-family: 'Nanum Barun Gothic'"
              >펀드 수익률 예측</strong
            >
          </h1>

          <p>
            <strong style="font-family: 'Nanum Barun Gothic'"
              >Prophet 알고리즘을 이용한 미래 펀드 수익률을
              보여줍니다.</strong
            >
          </p>
           <!--예측--> 
           <form action = "/fund/predict" method ="post", class="input_form"> 
              <input type="text" name ="num" value="" class="input_text"></input>
              <br/>
              <input type="submit" value="입력한 펀드 수익률 예측" class="btn btn-outline-white btn-lg"
          ></input> 
        </form>
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
  </div>
  <!--/First slide-->

  <!--Second slide-->
  <div class="carousel-item">
    <div class="view">
      <!--Video source-->
      <video class="video-intro" autoplay loop>
        <source
          src="https://mdbootstrap.com/img/video/forest.mp4"
          type="video/mp4"
        />
      </video>

      <!-- Mask & flexbox options-->
      <div
        class="
          mask
          rgba-black-light
          d-flex
          justify-content-center
          align-items-center
        "
      >
        <!-- Content -->
        <div class="text-center white-text mx-5 wow fadeIn">
          <h1 class="mb-4">
            <strong style="font-family: 'Nanum Barun Gothic'"
              >펀드 조회</strong
            >
          </h1>

          <p>
            <strong style="font-family: 'Nanum Barun Gothic'"
              >원하는 펀드 내용을 조회합니다.</strong
            >
          </p>

          <a
            target="_self"
            href="/fund/search"
            class="btn btn-outline-white btn-lg"
            >펀드 조회하러 가기
          </a>
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
  </div>
  <!--/Second slide-->

  <!--Third slide-->
  <div class="carousel-item">
    <div class="view">
      <!--Video source-->
      <video class="video-intro" autoplay loop>
        <source
          src="https://mdbootstrap.com/img/video/Tropical.mp4"
          type="video/mp4"
        />
      </video>

      <!-- Mask & flexbox options-->
      <div
        class="
          mask
          rgba-black-light
          d-flex
          justify-content-center
          align-items-center
        "
      >
        <!-- Content -->
        <div class="text-center white-text mx-5 wow fadeIn">
          <h1 class="mb-4">
            <strong style="font-family: 'Nanum Barun Gothic'"
              >투자 성향 진단</strong
            >
          </h1>

          <p>
            <strong style="font-family: 'Nanum Barun Gothic'"
              >투자 성향 진단을 통해 투자 성향을 알아봅니다.</strong
            >
          </p>

          <a
            target="_self"
            href="/analysis/analysis"
            class="btn btn-outline-white btn-lg"
            >투자 성향 진단하러 가기
          </a>
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
  </div>
  <!--/Third slide-->
</div>
<!--/.Slides-->

<!--Controls-->
<a
  class="carousel-control-prev"
  href="#carousel-example-1z"
  role="button"
  data-slide="prev"
>
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a
  class="carousel-control-next"
  href="#carousel-example-1z"
  role="button"
  data-slide="next"
>
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
<!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
{%endblock%}

<!--Footer-->
{%block footer%}
{%include 'main_footer.html'%}
{%endblock%}