<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <!--Call to action-->
  <div class="pt-4">
    <a
      class="btn btn-outline-white"
      href="https://github.com/baeminjung/Capstone_projects1"
      target="_blank"
      role="button"
      >LET'S GO GITHUB
      <i class="fa fa-graduation-cap ml-2"></i>
    </a>
  </div>
  <!--/.Call to action-->

  <hr class="my-4" />

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2021 Copyright:
    <a href="https://github.com/baeminjung/Capstone_projects1" target="_blank">
      5차 산업혁명
    </a>
  </div>
  <!--/.Copyright-->
</footer>
