{%extends 'base.html'%}

{%block head%}
{{super()}}
<link
    href="{{url_for('static', filename='css/login.css')}}"
    rel="stylesheet"
  />
{%endblock%}

{%block content%}  
  <!--content-->
    <div class="main-container">
      <div class="main-wrap">
      <header>
        <div class="logo-wrap"></div>
      </header>
      
    <form action="/user/login" method="POST">
      <section class="login-input-section-wrap">
        <div class="login-input-wrap">	
          <input type="text" name = "login_id" placeholder="Id"></input>
        </div>
        <div class="login-input-wrap password-wrap">	
          <input type="password" name = "login_pw" placeholder="Password"></input>
        </div>
        <div class="login-button-wrap">
          <button type="submit">Login</button>
        </div>
      </section>
    </form>
    
      <section class="Easy-sgin-in-wrap">
        <a href="/user/signup" style="text-decoration:none">
        <p class="forget-msg">Sign up</p></a>
        <a href="/" style="text-decoration:none">
        <p class="forget-msg">Cancel</p></a>
      </section>

      </div>
    </div>
{%endblock%}
