{%extends 'base.html'%} 
{%block content%}
	<div class="main-container">
		<div class="main-wrap">
		<header>
		</header>
    
  <form method="POST">
		<section class="login-input-section-wrap">

    <label> ID </label>
			<div class="login-input-wrap">
				<input type="text" name = "userid" value={{session["userID"]}} readonly></input>
			</div>
      <div class="password-wrap"></div>
      <label> 투자성향 </label>
			<div class="login-input-wrap">
				<input type="text" name = "analysis" value={{analysis}} readonly></input>
			</div>

      <div class="password-wrap"></div>
       <label> 비밀번호 변경 </label>
			<div class="login-input-wrap">	
				<input type="password" name = "password" placeholder="Password"></input>
			</div>
      <div class="login-input-wrap">	
				<input type="password" name = "ck_password" placeholder="Confirm Password"></input>
			</div>
      <div>
      </div>
			<div class="login-button-wrap">
				<button type="submit" formaction="/delete/edit" name="edit">Edit Password</button>
			</div>
      <div class="login-button-wrap">
				<button type="submit" formaction="/delete/delete_user">Delete Account</button>
			</div>
		</section>
  </form>
  
  <section class="Easy-sgin-in-wrap">
			<a href="/login/home" style="text-decoration:none">
			<p class="forget-msg">Cancel</p></a>
	</section>
  {%endblock%}