{%extends 'base.html'%}

{%block head%}
{{super()}}
<link
    href="{{url_for('static', filename='css/login.css')}}"
    rel="stylesheet"
  />
{%endblock%}

{%block content%}
	<div class="main-container">
		<div class="main-wrap">
		<header>
			<div class="logo-wrap"></div>
		</header>
        
    <form action="/user/signup" method="POST">
		<section class="login-input-section-wrap">
			<div class="login-input-wrap ">	
				<input name = "signup_id" placeholder="Id" type="text"></input>
			</div>
			<div class="login-input-wrap password-wrap">	
				<input name = "signup_pw" placeholder="Password" type="password"></input>
			</div>
      	<div class="login-input-wrap password-wrap">	
				<input name = "ck_pw" placeholder="Confirm Password" type="password"></input>
			</div>

      <div class="login-input-wrap password-wrap">	
				<input name = "name" placeholder="Name" type="text"></input>
			</div>
            
			<div class="login-button-wrap">
				<button type="submit">Sign up</button>
			</div>
		</section>
    </form>
        
    <section class="Easy-sgin-in-wrap">
			<a href="/" style="text-decoration:none">
			<p class="forget-msg">Cancel</p></a>
		</section>
		</div>
	</div>
{%endblock%}